.navbar {
    background: rgb(28,36,122);
    background: linear-gradient(76deg, rgba(28,36,122,1) 30%, rgba(32,41,97,1) 66%);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.navbar-item a:hover {
    background-color: rgb(67, 79, 133);
}

.navbar-item a.active {
    background-color: #a3bad2;
    color: rgb(21, 21, 21);
    font-weight: bold;
}
